*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.2)), url(./icons/piano.jpg);
}
.input-box{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}
.input-box img{
    width: 35px;
    cursor: pointer;
}
.container button{
    background: #fff;
    border: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.input-box input::-ms-reveal {
    display: none;
}
.container .Login{
    margin-top: 15%;
    margin-left: 60%;
}
.container div h1{
    position: absolute;
    margin: 0 130px;
    line-height: 7rem;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
.container div h1 span{
    font-size: 3rem;
    color: rgb(206, 145, 225);
}